
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.navbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-around;
  width: 80%;
}


.navbar ul li {
  margin: 0 15px;
}


.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}


.navbar ul li a:hover {
  background-color: #00bfff;
  color: black;
}


.navbar ul li a.active {
  background-color: #555;
  color: white;
}


@media screen and (max-width: 768px) {
  .navbar ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  .navbar ul li {
      margin: 10px 0;
  }
}
